@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

header {
  background-color: red;
  padding-top: 0;
  border-bottom: 5px solid white;
  h1 {
    padding: 0.75em;
    letter-spacing: normal;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-size: 3.5em;
    color: white;
    margin: 0;
    text-shadow: 4px 1px 0px #52322d;
  }
}
